.hstack {
    display: flex;
}

.back-img {
    background-image: linear-gradient(180deg, #9d0e0e00 0%, #4f0707 100%), url(./images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-size: 100%;
}

.login, .createAcc {
    color: white;
    text-decoration: none;
    opacity: 1;
} 

.logo {
    display: inline;
    background-color: white;
    font-size: 70px;
    font-weight: 600;
    border-radius: 50%;
    color: #EB2929;
}

.title {
    color:#fff;
    opacity: 1;
    font: normal normal 600 36px/55px Poppins;
    letter-spacing: 0px;
}

.location {
    margin-left: 20% !important;
}

.heading {
    color: #192f60;
    opacity: 1;
    font-weight: bolder;
    margin-top: 40px;
}

.heading > p {
    color: #8c96ab;
    opacity: 1;
}

.card-shadow { 
    box-shadow: 0px 3px 6px #00000029;
    margin: 15px 0 15px 0;
}

.tile-item {
    top: 822px;
    left: 893px;
    width: 164px;
    height: 160px;
    opacity: 1;
}
.tile-heading {
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192f60;
    opacity: 1;
    margin-top: 15px;
}
.text {
    width: 138px;
    height: 62px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}